on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: action/checkout@v4
        with:
          submodules: 'true'
      - name: deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: public
